extends ./head.pug
block body
  body
    header.header
      .header-wrapper
        .header-person
          .persona-photo
            img(src=)
          .persona-personinfo
            p Радченко Иван Александрович
            p radchenk@gmail.com
        .header-social
          ul.social
            li.social-item
              a.social-link
                img.social-img__git(src="data:image/svg+xml;base64,[PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMzBweCIgaGVpZ2h0PSIyOS4yNjNweCIgdmlld0JveD0iMCAwIDMwIDI5LjI2MyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzAgMjkuMjYzIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGZpbGw9IiMyQjJCMkIiIGQ9Ik0xOS43NDYsMjkuMjM4Yy0wLjc2MiwwLjEzNy0xLjAxNi0wLjMzMi0xLjAxNi0wLjcyM2MwLTAuNDg4LDAtMi4xMDksMC00LjEyMQ0KCQljMC0xLjQwNi0wLjQ2OS0yLjMwNS0xLjAxNi0yLjc3M2MzLjM0LTAuMzcxLDYuODU1LTEuNjQxLDYuODU1LTcuNDAyYzAtMS42NDEtMC41ODYtMi45ODgtMS41NDMtNC4wMjMNCgkJYzAuMTU2LTAuMzkxLDAuNjY0LTEuOTE0LTAuMTU2LTMuOTg0Yy0xLjI1LTAuMzkxLTQuMTIxLDEuNTQzLTQuMTIxLDEuNTQzQzE3LjU1OSw3LjQyMiwxNi4yNyw3LjI0NiwxNSw3LjI0Ng0KCQlzLTIuNTU5LDAuMTc2LTMuNzUsMC41MDhjMCwwLTIuODcxLTEuOTM0LTQuMTQxLTEuNTQzYy0wLjgwMSwyLjA3LTAuMjkzLDMuNTk0LTAuMTM3LDMuOTg0QzYuMDE2LDExLjIzLDUuNDMsMTIuNTc4LDUuNDMsMTQuMjE5DQoJCWMwLDUuNzQyLDMuNDk2LDcuMDMxLDYuODM2LDcuNDAyYy0wLjQzLDAuMzkxLTAuODIsMS4wMzUtMC45NTcsMi4wMTJjLTAuODU5LDAuMzkxLTMuMDQ3LDEuMDU1LTQuMzU1LTEuMjUNCgkJYy0wLjgyLTEuNDI2LTIuMzA1LTEuNTQzLTIuMzA1LTEuNTQzYy0xLjQ2NS0wLjAyLTAuMDk4LDAuOTE4LTAuMDk4LDAuOTE4YzAuOTc3LDAuNDQ5LDEuNjYsMi4xODgsMS42NiwyLjE4OA0KCQljMC44NzksMi42NzYsNS4wNTksMS43NzcsNS4wNTksMS43NzdjMCwxLjI1LDAuMDIsMi40NDEsMC4wMiwyLjc5M2MwLDAuMzkxLTAuMjczLDAuODU5LTEuMDM1LDAuNzIzQzQuMjk3LDI3LjI0NiwwLDIxLjYyMSwwLDE1DQoJCUMwLDYuNzE5LDYuNzE5LDAsMTUsMHMxNSw2LjcxOSwxNSwxNUMzMCwyMS42MjEsMjUuNzAzLDI3LjI0NiwxOS43NDYsMjkuMjM4eiIvPg0KPC9nPg0KPC9zdmc+DQo=]")
            li.social-item
              a.social-link
                img.social-img__skype(src=)
            li.social-item
              a.social-link
                img.social-img__vk(src=)
    section.intro
      .intro-wrapper
        h1 О будущем ученике
        p Ребятам из Loftschool будет полезно узнать немного обо мне
        .intro-item.intro-item__left
          .introitem-icon
          .introitem-description
            h3 Немного обо мне
            p Я живу в Санкт-Петербурге(Россия). Мне 27 лет. Высшее образование - закончил Национальный исследовательский университет "МЭИ". Опыт в разработке 1 год.
        .intro-item.intro-item__right
          .introitem-icon
          .introitem-description
            h3 Мой опыт в разработке
            p В этом блоке я рассказываю о себе, что я уже умею. Здесь я укажу другие курсы, которе до этого я уже проходил. Могу перечислить технологии, которыми уже умею пользоваться. К примеру html5,css3,sass,jade,git и пр.
      section.courses
        .courses-wrapper
          h1
          p
          ul.courses-list
            li.courses-item
              .course-image
              .course-description
                h3 Основы Javascript
                p Видеокурс о одном из самых популярных языков программирования - JS. Изучая этото курс вы познаете этот прекрасные язык от самых основ.
                p 24 урока (6 часов 46 минут)
              .course_checkbox
                input(type="checkbox" class="checkbox")
                label Посмотрел
            li.courses-item
              .course-image
              .course-description
                h3
                h3 Основы JQUERY
                p Видеокурс о одном из самых популярных языков программирования - JS. Изучая этото курс вы познаете этот прекрасные язык от самых основ.
                p 11 уроков (2 часа 6 минут)
              .course_checkbox
                input(type="checkbox" class="checkbox")
                label Посмотрел
            li.courses-item
              .course-image
              .course-description
                h3 Базовые элементы страницы
                p Видеокурс по верстке и программированию оснвных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу, слайдер и т.д.
                p 9 уроков (2 часа 7 минут)
              .course_checkbox
                input(type="checkbox" class="checkbox")
                label Посмотрел
            li.courses-item
              .course-image
              .course-description
                h3 Создание адаптивных сайтов
                p В этом курсе вы узнаете как создавать адаптивные сайты, что такое адаптитвная верстка и дизайн.
                p 7 уроков (2 часа 11 минут)
              .course_checkbox
                input(type="checkbox" class="checkbox")
                label Посмотрел
            li.courses-item
              .course-image
              .course-description
                h3 Верстка адаптивной css галереи
                p В этом видеокурсе вы изучите инструменты, техники и подходы для web-разработчика, которые помогут вам решать поставленные задачи более быстро и эффективно.
                p 6 уроков (1 час 9 минут)
              .course_checkbox
                input(type="checkbox" class="checkbox")
                label Посмотрел
            li.courses-item
              .course-image
              .course-description
                h3 Создание адаптивных сайтов
                p В этом курсе мы разберем как сверстать адаптивную css галерею. Так же познакомимся с Flexbox
                p 4 урока (50 минут)
              .course_checkbox
                input(type="checkbox" class="checkbox")
                label Посмотрел
    footer.footer
      .footer-wrapper
        p Footer which should be deadly pinned to the bottom no matter the amount of content is on the page.
