extends ./head.pug
block body
  body
    header.header
      .header__wrapper
        .header__person
          .person__photo
          .person__personinfo
            h3.person__title Radchenko Ivan Aleksandrovich
            p.person__email radchenk@gmail.com
        .header__social
          ul.social
            li.social__item
              a.social__link(href="#")
                svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                  path(class="social__img--git" d="M19.7 29.2c-0.8 0.1-1-0.3-1-0.7 0-0.5 0-2.1 0-4.1 0-1.4-0.5-2.3-1-2.8 3.3-0.4 6.9-1.6 6.9-7.4 0-1.6-0.6-3-1.5-4 0.2-0.4 0.7-1.9-0.2-4 -1.2-0.4-4.1 1.5-4.1 1.5C17.6 7.4 16.3 7.2 15 7.2s-2.6 0.2-3.7 0.5c0 0-2.9-1.9-4.1-1.5 -0.8 2.1-0.3 3.6-0.1 4C6 11.2 5.4 12.6 5.4 14.2c0 5.7 3.5 7 6.8 7.4 -0.4 0.4-0.8 1-1 2 -0.9 0.4-3 1.1-4.4-1.2 -0.8-1.4-2.3-1.5-2.3-1.5 -1.5 0-0.1 0.9-0.1 0.9 1 0.4 1.7 2.2 1.7 2.2 0.9 2.7 5.1 1.8 5.1 1.8 0 1.3 0 2.4 0 2.8 0 0.4-0.3 0.9-1 0.7C4.3 27.2 0 21.6 0 15 0 6.7 6.7 0 15 0s15 6.7 15 15C30 21.6 25.7 27.2 19.7 29.2z" fill="#2B2B2B")
            li.social__item
              a.social__link(href="#")
                svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                  path(class="social__img--skype" d="M22.5 30c-1.7 0-3.3-0.6-4.6-1.6 -0.9 0.2-1.9 0.3-2.9 0.3C7.4 28.8 1.3 22.6 1.3 15c0-1 0.1-2 0.3-2.9C0.6 10.8 0 9.2 0 7.5 0 3.4 3.4 0 7.5 0c1.7 0 3.3 0.6 4.6 1.6C13 1.4 14 1.3 15 1.3c7.6 0 13.8 6.2 13.8 13.8 0 1-0.1 2-0.3 2.9C29.4 19.2 30 20.8 30 22.5 30 26.6 26.6 30 22.5 30zM16.8 13.1l-2-0.5c-1.5-0.4-2.6-0.6-2.6-1.7 0-1 1.1-1.5 2.8-1.5 3.1 0 3.1 2.2 5 2.2 1.3 0 2-1 2-2.1 0-2.2-3.7-3.7-7.4-3.7 -3.4 0-7.3 1.5-7.3 5.4 0 3.3 2.2 4.5 5 5.1l2.9 0.7c1.7 0.4 2.8 0.6 2.8 1.9 0 1-1.1 1.8-2.8 1.8 -3.6 0-3.8-3-5.9-3 -1.4 0-2 1-2 2.1 0 2.4 3.7 4.4 8.1 4.4 3.7 0 7.5-1.8 7.5-5.8C22.9 14.9 19.6 13.7 16.8 13.1z" fill="#3F3F3F")
            li.social__item
              a.social__link(href="https://vk.com/v_aselin_e")
                svg(xmlns="http://www.w3.org/2000/svg" width="38" height="21" viewBox="0 0 37.5 21.4")
                  path(class="social__img--vk" d="M34.5 7.3c-3.8 5-4.2 4.6-1.1 7.5 3 2.8 3.6 4.1 3.7 4.3 0 0 1.3 2.2-1.4 2.2l-5 0.1c-1.1 0.2-2.5-0.8-2.5-0.8 -1.9-1.3-3.6-4.6-5-4.2 0 0-1.4 0.4-1.4 3.5 0 0.6-0.3 1-0.3 1s-0.4 0.4-1 0.4h-2.2c-4.9 0.3-9.3-4.2-9.3-4.2S4.3 12.1 0.1 2.3c-0.3-0.6 0-1 0-1s0.3-0.4 1.1-0.4l5.4 0C7.1 1 7.5 1.3 7.5 1.3s0.3 0.2 0.5 0.6c0.9 2.2 2 4.2 2 4.2 2 4 3.3 4.7 4 4.3 0 0 1-0.6 0.8-5.5 -0.1-1.8-0.6-2.6-0.6-2.6 -0.4-0.6-1.3-0.8-1.7-0.8 -0.3 0 0.2-0.7 0.8-1.1 1-0.5 2.7-0.5 4.7-0.5 1.6 0 2 0.1 2.6 0.3 1.9 0.4 1.2 2.2 1.2 6.3 0 1.3-0.3 3.2 0.7 3.8 0.4 0.3 1.4 0 3.9-4.2 0 0 1.2-2 2.1-4.4 0.2-0.4 0.5-0.6 0.5-0.6s0.3-0.2 0.7-0.1l5.6 0c1.7-0.2 2 0.6 2 0.6C37.8 2.3 36.8 4.2 34.5 7.3z" fill="#3F3F3F")
    section.intro
      .intro__wrapper
        .title__area
          h1.main__title About the student
          h3.main__subtitle Information for the mentors from Loftschool
        .intro__description  
          .intro__item.intro__item--left
            .introitem__icon
              object(type="image/svg+xml" data="/assets/state/images/hello.svg" class="logo")
            .introitem__description
              h3 About myself
              p Я живу в Санкт-Петербурге(Россия). Мне 27 лет. Высшее образование - закончил Национальный исследовательский университет "МЭИ". Опыт в разработке 1 год.
          .intro__item.intro__item--right
            .introitem__icon
              object(type="image/svg+xml" data="/assets/state/images/experience.svg" class="logo")
            .introitem__description
              h3 My dev experience
              p В этом блоке я рассказываю о себе, что я уже умею. Здесь я укажу другие курсы, которе до этого я уже проходил. Могу перечислить технологии, которыми уже умею пользоваться. К примеру html5,css3,sass,jade,git и пр.
    section.courses
      .courses__wrapper
        .title__area
          h1.main__title LoftBlog courses
          h3.main__subtitle that will help me acomplish this task
        .courses__area
          ul.courses__list
            li.courses__item
              .courses__image.courses__image--1
                .image__hover
              .courses__description
                h3 Основы Javascript
                p Видеокурс о одном из самых популярных языков программирования - JS. Изучая этото курс вы познаете этот прекрасные язык от самых основ.
                p.time &#x1f558; 24 урока (6 часов 46 минут)
              .courses__checkbox
                input(type="checkbox" class="checkbox" id="js")
                i(class="fa fa-check" aria-hidden="true")
                label(for="js") Watched
            li.courses__item
              .courses__image.courses__image--2
                .image__hover
              .courses__description
                h3 Основы JQUERY
                p Видеокурс о одном из самых популярных языков программирования - JS. Изучая этото курс вы познаете этот прекрасные язык от самых основ.
                p.time &#x1f558; 11 уроков (2 часа 6 минут)
              .courses__checkbox
                input(type="checkbox" class="checkbox" id="jquery")
                i(class="fa fa-check" aria-hidden="true")
                label(for="jquery") Watched
            li.courses__item
              .courses__image.courses__image--3
                .image__hover
              .courses__description
                h3 Базовые элементы страницы
                p Видеокурс по верстке и программированию оснвных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу, слайдер и т.д.
                p.time &#x1f558; 9 уроков (2 часа 7 минут)
              .courses__checkbox
                input(type="checkbox" class="checkbox" id="base")
                i(class="fa fa-check" aria-hidden="true")
                label(for="base") Watched
            li.courses__item
              .courses__image.courses__image--4
                .image__hover
              .courses__description
                h3 Создание адаптивных сайтов
                p В этом курсе вы узнаете как создавать адаптивные сайты, что такое адаптитвная верстка и дизайн.
                p.time &#x1f558; 7 уроков (2 часа 11 минут)
              .courses__checkbox
                input(type="checkbox" class="checkbox" id="adt")
                i(class="fa fa-check" aria-hidden="true")
                label(for="adt") Watched
            li.courses__item
              .courses__image.courses__image--5
                .image__hover
              .courses__description
                h3 Верстка адаптивной css галереи
                p В этом видеокурсе вы изучите инструменты, техники и подходы для web-разработчика, которые помогут вам решать поставленные задачи более быстро и эффективно.
                p.time &#x1f558; 6 уроков (1 час 9 минут)
              .courses__checkbox
                input(type="checkbox" class="checkbox" id="cssgal")
                i(class="fa fa-check" aria-hidden="true")
                label(for="cssgal") Watched
            li.courses__item
              .courses__image.courses__image--6
                .image__hover
              .courses__description
                h3 Создание адаптивных сайтов
                p В этом курсе мы разберем как сверстать адаптивную css галерею. Так же познакомимся с Flexbox
                p.time &#x1f558; 4 урока (50 минут)
              .courses__checkbox
                input(type="checkbox" class="checkbox" id="adpsites")
                i(class="fa fa-check" aria-hidden="true")
                label(for="adpsites") Watched
    footer.footer
      .footer__wrapper
        p.footer__description Footer which should be deadly pinned to the bottom no matter the amount of content is on the page.
    script(type="text/javascript" src="/js/main.js")