doctype html
html(lang='en' class="no-js")
  head
    //[if IE 8]> <html class="no-js ie8" lang="en"> <![endif]
    //[if IE 9]> <html class="no-js ie9" lang="en"> <![endif]
    //[if gt IE 9]><!
    <html class="no-js" lang="en">
    //<![endif]
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Cold Crematorium
    meta(name="description" content="How about some fun into our boilerroom")
    link(rel="stylesheet" type="text/css" href="assets/styles.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://use.fontawesome.com/f2ae7e99cd.js")
    //- //HTML5 shim and Respond.js IE8 support of HTML5 elemens and media queries
    //- //[if lt IE 9]
    //- script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    //- script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
    //- //[endif]
  block body