* {
  box-sizing: border-box;
}
html {
  line-height: 21px;
}

html, body {
 height: 100%;
 width: 100%;
}

body {
  @include fonts(fira);
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

  /*_____ Fonts base reset_____ */
h1,h2,h3, p{
  padding: 0;
  margin: 0;
}

h1 {
  @include fonts(medium);
  font-size: 42px;
}

h3 {
  font-size: 21px;
}

p {
  margin: 20px 0;
   //Fonts
  color: rgb(114,114,114);
}

.main__subtitle {
  @include fonts(light);
  margin: 25px 0 10px 0;
  color: rgb(114,114,114);
  }

.main__title {
  margin: 0;
}

.footer__description {
  margin: 0;
  color: rgb(169,169,169);
}
  /*_____ Wrappers _____ */


.header__wrapper, .intro__wrapper, .courses__wrapper,.footer__wrapper {
  min-height: 100%;
  margin: 0 auto;

  position:relative;
}

.header__wrapper {
  width: 1200px;

  overflow: hidden;
  }

.intro__wrapper, .courses__wrapper {
  width: 960px;
  padding: 75px 10px;
}

.courses__wrapper {
  margin-bottom: -72px;

  &:after {
    content: "";
    display: block;
    height: 72px;
  }
}

.footer__wrapper {
  width: 512px;
  padding-top: 15px;
}

  /*_____ Header _____ */
.header {
  position: relative;

  margin: 0;
  padding: 10px 0;
  height: 90px;

  background: rgb(140,195,75);
  box-shadow: 0px 1px 2px 0px rgba(204,204,204,0.6),
  0px 2px 2px 0px rgba(206,206,206,0.6),
  0px 3px 2px 0px rgba(210,210,210,0.6),
  0px 4px 2px 0px rgba(216,216,216,0.6),
  0px 5px 2px 0px rgba(224,224,224,0.6),
  0px 6px 2px 0px rgba(235,235,235,0.6),
  0px 7px 2px 0px rgba(235,235,235,0.6),
  0px 8px 2px 0px rgba(243,243,243,0.6),
  0px 9px 2px 0px rgba(249,249,249,0.6);

  /*_____ Person profile _____ */

    &__person {
      float: left;

      margin-left: 43px;
    }
}

    .person__photo {
      float: left;

      width: 62px;
      height: 62px;

      border-radius: 50px;
      border: 1px solid rgb(210,214,205);
      background: url("/assets/state/Vanya.png") no-repeat center center;
    
    &:hover {
      border:2px solid white;
    }
    }

    .person {

      &__personinfo {
        float: left;
        padding: 10px 20px;
        }

      &__title {
        margin-top: 0;
        margin-bottom: 10px;
        color: white;
        @include fonts(medium);
      }

      &__email {
        margin: 0;
        color: rgb(225,238,212);
      }

    }

  /*_____ Social list _____ */
.header__social {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.social {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &__link {
    display: block;
    
    padding: 10px;
    @include fonts(fontawesome);

  /*_____ Social SVG hover effect _____ */
    &:hover {
      cursor: pointer;

    .social__img--git,.social__img--vk,.social__img--skype {
      fill: white;
      }
    }
  }
  /*_____ Social SVG colors _____ */

  &__img--git, &__img--vk, &__img--skype{
    fill: rgb(225,238,212);
  }
}

 /*_____ Title main area _____ */
.title__area {
  padding-bottom: 20px; 
  text-align: center;
}

 /*_____ About the Student section _____ */
.intro__description {
  overflow: hidden;
}

.intro__item {
  display: inline-block;
  width: 460px;

  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

.intro {

  &item__icon{
  float: left;
  height: 140px;
  width: 140px;

  margin-right: 20px;
  }

  &item__description {
  float: left;
  width: 300px;

  padding-right: 20px;
  }
}

  /*_____ Courses area _____ */
.courses {
  background: url("/assets/state/gplaypattern.png")
}
.courses {
  
  &__list {
  overflow: hidden;
  }

  &__item {
  float: left;
  width: 300px;

  margin-right: 20px;
  margin-bottom: 15px;

  background: white;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__image {
      height: 170px;
    }
  
  &__description, &__checkbox {
      padding: 20px;
  }

}

.courses__checkbox {
  background: rbg(246,247,242);
}
  /*_____ Sticky footer _____ */

.courses:after {
  content: "";
  height: 72px;
}

.footer {  
  position: relative;

  height: 72px;
  
  text-align: center;
  
  background: rgb(33,33,33);

}

