* {
  box-sizing: border-box;
}

html, body {
 height: 100%;
}

body {
  font-size: 16px;
}

  /*_____ Wrappers _____ */
.header-wrapper, .intro-wrapper, .courses-wrapper,.footer-wrapper {
  min-height: 100%;
  margin: 0 auto;

  position:relative;
}

.header-wrapper {
  width: 1200px;

  overflow: hidden;
  }

.intro-wrapper, .courses-wrapper {
  width: 960px;
  padding: 0 10px;
}

.courses-wrapper {
  margin-bottom: -72px;

  &:after {
    content: "";
    display: block;
    height: 72px;
  }
}

.footer-wrapper {
  width: 512px;
  padding-top: 15px;
}

  /*_____ Header _____ */
.header {
  margin: 0;
  padding: 10px 0;
  height: 90px;

  background: rgb(140,195,75);
  box-shadow: 0px 1px 2px 0px rgba(204,204,204,0.6),
  0px 2px 2px 0px rgba(206,206,206,0.6),
  0px 3px 2px 0px rgba(210,210,210,0.6),
  0px 4px 2px 0px rgba(216,216,216,0.6),
  0px 5px 2px 0px rgba(224,224,224,0.6),
  0px 6px 2px 0px rgba(235,235,235,0.6),
  0px 7px 2px 0px rgba(235,235,235,0.6),
  0px 8px 2px 0px rgba(243,243,243,0.6),
  0px 9px 2px 0px rgba(249,249,249,0.6);

  /*_____ Person profile _____ */

    &-person {
      float: left;
      margin-left: 28px;
      width: 364px;
    }

    &-photo {
      width: 62px;
      height: 62px;

      border-radius: 10px;
      background: #FFF;
    }
}

  /*_____ Social list _____ */
.header-social {
  float: right;
  margin-right: 24px;
}

.social {
  padding: 0;
  margin: 0;

  &-item {
    list-style: none;
    display: inline-block;
  }

  &-link {
    display: block;
  }

  &-img__git {
    
  }

  &-img__vk {
    
  }
  
  &-img__skype {
    
  }
}



  /*_____ Sticky footer _____ */
.courses:after {
  content: "";
  height: 72px;
}

.footer {  
  position: relative;

  height: 72px;
  
  text-align: center;

  //Fonts
  color: rgba(169,169,169,.5);
  @include fonts(fira);
  
  background: rgb(33,33,33);

}

  /*_____ Fonts base _____ */
h1 {

}

h2 {

}

p {
  padding: 0;
  margin: 0;
}