/* Variables */

$screen-mobile:         480px;   // tn
$screen-tablet:         768px;   // sm
$screen-laptop:         980px;   // md
$screen-desktop:        1380px;  // lg

$mobile: "min-width: 480px";
$tablet: "min-width: 768px";
$laptop: "min-width: 980px";
$desktop: "min-width: 1380px";